.cards-container {
    padding-top: 250px;
    padding-left: clamp(7px, calc(3.5vw + 2px), 102px);
    padding-right: clamp(7px, calc(3.5vw + 2px), 102px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    row-gap: clamp(7px, calc(4vw + 6px), 66px);
    column-gap: clamp(7px, calc(3vw + 6px), 48px);
    background: #EDEDED;

}
.card-article img {
    object-fit: cover;
    height: 253px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position:relative;
}
.card-article {
    position: relative;
    border-radius: 21px;
    background: #fff;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text {
    display: flex;
    flex-direction: column;
    height: 475px;
    padding: 20px 30px;
}
.card-text h1 {
    color: #000;
    font-family: fantasy sans-serif;
    font-size: 20px;
    font-weight: bolder;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.card-text h2 {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-top: 20px;
    min-height: 30px;
    display: flex;
    align-items: center;
}
.card-description {
    color: #1B1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    max-height: 80px;
    margin-top: 10px;
    min-height: 80px;
}
.card-description:hover {
    max-height: 100%;
}

.card-ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    min-height: 100px;
}
.ingredient-name {
    color: #1B1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ingredient-qty {
    color: #7A7A7A;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 5px;
}
.card-time {
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 14px;
    background: #FFD15B;
    position: absolute;
    top: 20px;
    right: 22px;
}

@media (max-width: 950px) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        padding-top: 350px;
    }
}


@media (max-width: 465px) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        padding-top: 2px;
    }
}
@media (min-width: 1440px) {
    .cards-container {
        padding-left: 102px;
        padding-right: 102px;
    }
}