.filter-container {
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 50px;
}

.filters {
    display: flex;
    gap: 50px;
    position: relative;
}

.filter1,
.filter2,
.filter3 {
    width: 195px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #fff;
    z-index: 10;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 56px;
    overflow-y: hidden;
    transition: height 0.1s linear;
    position: relative;
}

.filter1.open,
.filter2.open,
.filter3.open {
    height: 315px;
    overflow-y: auto;
    z-index: 10;
    background: #fff;
    position: relative;
}

#filterArrow1,
#filterArrow2,
#filterArrow3 {
    transition: transform 0.3s ease;
}

.rotate180 {
    transform: rotate(180deg);
}

.filter1::-webkit-scrollbar,
.filter2::-webkit-scrollbar,
.filter3::-webkit-scrollbar {
    display: none;
}

.f1-visiblepart,
.f2-visiblepart,
.f3-visiblepart {
    display: flex;
    justify-content: space-between;
    padding: 17px 16px;
    align-items: center;
    gap: 63px;
    border-radius: 11px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.f1-visiblepart h1,
.f2-visiblepart h1,
.f3-visiblepart h1 {
    color: #1b1b1b;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #fff;
}

.glass-icon {
    width: 13.5px;
    height: 14px;
    transform: translateX(15px);
}

.f1-inputcontainer,
.f2-inputcontainer,
.f3-inputcontainer {
    position: relative;
    width: 163px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #c6c6c6;
    margin-left: 16px;
    margin-bottom: 15px;
    background: #fff;
    top: 4px;
}

.f1-inputcontainer input[type="text"],
.f2-inputcontainer input[type="text"],
.f3-inputcontainer input[type="text"] {
    border: none;
    outline: none;
    width: 120px;
    height: 34px;
    color: #7a7a7a;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    background: #fff;
}

#number-recipes {
    color: #1b1b1b;
    font-family: Anton sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    position: relative;
    right: 20px;
    top: 10px;
}

/* Filter List */
.filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
  
.filter-list li {
  padding: 5px 16px;
}

.filter-list li:hover {
  background-color: #ffd15b;
  scale: 1.02;
  cursor: pointer;
}

.active {
  background-color: #ffd15b;
}

/* Filter Button */

.active-filters {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  padding: 0 6%;
}

.active-filter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 11px;
  background: #ffd15b;
}

.active-filter i {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.active-filter i:hover {
  cursor: pointer;
}

#ingredients-filter-close,
#appliances-filter-close,
#ustensils-filter-close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 30px;
  display: none;
}
  
/* Media queries */

@media (min-width: 1000px) {
    .filter-container {
      padding: 0 6%;
    }
  }
  
  @media (max-width: 1200px) {
    .filter-container {
      position: relative;
      top: 30px;
    }
  }
  
  @media (max-width: 680px) {
    .filter-container {
      margin-top: 0px;
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
      height: 100%;
    }
  
    .filters {
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
      margin-top: 15%;
    }
  
    .number-container {
      padding-bottom: 30px;
    }
  
    #number-recipes {
      position: relative;
      left: 5px;
      color:#1b1b1b;
    }
  }