.container-header {
  position: relative;
  height: 100%;
  background: #ededed;
}

.background-img {
  position: absolute;
  height: 677px;
  object-fit: cover;
  width: 100%;
}

.logo-img {
  position: relative;
  top: 50px;
  left: 60px;
  width: 100vw;
  max-width: 207px;
  height: 100vh;
  max-height: 25.261px;
}
.main-heading {
  position: relative;
  color: #ffd15b;
  text-align: center;
  font-family: fantasy sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
}

.research-field {
  border-radius: 11px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.container-search {
  width: 66.25%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding-top: clamp(65px, calc(18vw - 65px), 227px);
}
.search-icon {
  width: 51px;
  height: 52px;
  flex-shrink: 0;
  background: #1B1B1B;
  border-radius: 10px;
  display: grid;
  place-items: center;
  position: relative;
  right: 10px;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}


.search-icon:hover svg circle,
.search-icon:hover svg line {
  stroke: black;
}

.search-icon:hover {
  background: #FFD15B;
}
#search-close {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  position: absolute;
  right: 80px;
  top: 25px;
  display: none;
}

.research-field input {
  color: #7a7a7a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: clamp(52px, 8vw, 72px);
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.research-field input[type="text"] {
  padding-left: 7px;
  border: none;
  outline: none;
}

@media (min-width: 1750px) {
  .research-field input[type="text"] {
    padding-left: 35px;
  }

}

@media (max-width: 666px) {
  .search-icon {
      right: 0;
  }

}

@media (max-width: 440px) {
  .logo-img {
    position: relative;
    left: 25%;
  }

  .research-field input[type="text"] {
    padding-left: 2vw;
  }
}


