
*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
}


ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


input,
select,
textarea,
button {
  font: inherit;
}


img {
  max-width: 100%;
  height: auto;
}
button,
input,
select,
textarea {
  outline: none;
}


html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  background: #ededed;
  margin-bottom: 40px;
}

